
<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/team">
  Team Name: <input type="string" id="team[name]" name="team[name]" /> <br />
  Team Motto: <input type="string" id="team[motto]" name="team[motto]" /><br />
  <h2>Hero 1</h2><br />
  Heroe's name: <input type="string" id="member1_name" name="team[heroes][][name]" /><br />
  Heroe's power: <input type="string" id="member1_power" name="team[heroes][][power]" /><br />
  Heroe's bio: <input type="string" id="member1_bio" name="team[heroes][][bio]" /><br />
  <h2>Hero 2</h2><br />
  Heroe's name: <input type="string" id="member2_name" name="team[heroes][][name]" /><br />
  Heroe's power: <input type="string" id="member2_power" name="team[heroes][][power]" /><br />
  Heroe's bio: <input type="string" id="member2_bio" name="team[heroes][][bio]" /><br />
  <h2>Hero 3</h2><br />
  Heroe's name: <input type="string" id="member3_name" name="team[heroes][][name]" /><br />
  Heroe's power: <input type="string" id="member3_power" name="team[heroes][][power]" /><br />
  Heroe's bio: <input type="string" id="member3_bio" name="team[heroes][][bio]" /><br />
  <input id="submit" name="submit" type="submit" />

</form>
